<div>
    <form>
        <h2>Raise Ticket</h2>
        <label>User ID: </label>
        <br/>
        <input type="text" name="useridticket"/>
        <br/>
        <label>User Email Address: </label>
        <br/>
        <input type="text" name="useremailticket" />
        <br/>
        <label>Reason for Ticket: </label>
        <br/>
        <textarea placeholder="Raise your concern.." name="usermessageticket"></textarea>
        <br/>
        <input type="submit" value="Raise Ticket" onclick=""/>
    </form>
</div>
